@charset "UTF-8";
/*-------------------------
全体
-------------------------*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 1;
}
body.fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/*-------------------------
レイアウト
-------------------------*/
.container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 4%;
  }
}

.section {
  margin-top: 120px;
  margin-bottom: 120px;
}
.section:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  .section {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.section:nth-of-type(2) {
  margin-top: 100px;
}
@media screen and (max-width: 1200px) {
  .section:nth-of-type(2) {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section:nth-of-type(2) {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .section:nth-of-type(5) {
    margin-top: 100px;
  }
}
@media screen and (max-width: 767px) {
  .section:nth-of-type(5) {
    margin-top: 60px;
  }
}
.section:last-of-type {
  margin-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  .section:last-of-type {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section:last-of-type {
    margin-bottom: 30px;
  }
}

/*-------------------------
見出し
-------------------------*/
.section__heading {
  text-align: center;
  margin-bottom: 60px;
}
.section__heading > img {
  display: block;
  margin: 0 auto 15px;
}
@media screen and (max-width: 767px) {
  .section__heading > img {
    width: 25px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 1200px) {
  .section__heading {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .section__heading {
    margin-bottom: 30px;
  }
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  .heading-primary {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 767px) {
  .heading-primary {
    font-size: 2rem;
  }
}
.heading-primary::before, .heading-primary::after {
  content: "";
  width: 45px;
  height: 4px;
  background-color: #333;
  position: absolute;
  top: 50%;
}
@media screen and (max-width: 767px) {
  .heading-primary::before, .heading-primary::after {
    width: 20px;
    height: 2px;
  }
}
.heading-primary::before {
  left: -60px;
}
@media screen and (max-width: 767px) {
  .heading-primary::before {
    left: -30px;
  }
}
.heading-primary::after {
  right: -60px;
}
@media screen and (max-width: 767px) {
  .heading-primary::after {
    right: -30px;
  }
}

/*-------------------------
コンポーネント
-------------------------*/
.more-detail-button {
  text-align: center;
  margin: 60px auto 0;
  width: 230px;
  height: 60px;
}
@media screen and (max-width: 767px) {
  .more-detail-button {
    width: 180px;
    height: 50px;
    margin-top: 30px;
  }
}
.more-detail-button > a {
  display: block;
  line-height: 60px;
  color: #fff;
  background-color: #0d315a;
  position: relative;
  border: 1px solid #0d315a;
  font-weight: 500;
  padding-right: 10px;
}
@media screen and (max-width: 767px) {
  .more-detail-button > a {
    font-size: 1.4rem;
    line-height: 50px;
  }
}
.more-detail-button > a:hover {
  background-color: #fff;
  color: #0d315a;
  transition: all 0.3s;
  border: 1px solid #0d315a;
}
.more-detail-button > a::after {
  content: "\e315";
  font-family: "Material Symbols Sharp";
  font-size: 3rem;
  position: absolute;
  top: 1px;
  right: 10px;
}
@media screen and (max-width: 767px) {
  .more-detail-button > a::after {
    right: 1px;
  }
}

/*-------------------------
CTA、ハンバーガーメニュー
-------------------------*/
.cta {
  position: fixed;
  right: 0;
  top: 250px;
  z-index: 500;
}
@media screen and (max-width: 1200px) {
  .cta {
    top: 150px;
  }
}
@media screen and (max-width: 767px) {
  .cta {
    right: 0;
    top: auto;
    bottom: 0;
    left: 0;
  }
}
.cta__list {
  display: flex;
  box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.6);
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .cta__list {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.cta__item {
  width: 60px;
}
@media screen and (max-width: 1200px) {
  .cta__item {
    width: 45px;
  }
}
@media screen and (max-width: 767px) {
  .cta__item {
    height: 50px;
  }
}
.cta a {
  letter-spacing: 10px;
  writing-mode: vertical-rl;
  color: #fff;
  font-size: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  position: relative;
}
.cta a > span {
  display: none;
}
@media screen and (max-width: 767px) {
  .cta a > span {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .cta a {
    font-size: 1.6rem;
    padding: 15px 0;
  }
}
@media screen and (max-width: 767px) {
  .cta a {
    height: 100%;
    justify-content: center;
    padding: 0px;
    letter-spacing: 2px;
    writing-mode: horizontal-tb;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding-left: 5px;
  }
}
.cta__document {
  background-color: #db6056;
  top: 100px;
}
@media screen and (max-width: 767px) {
  .cta__document {
    top: auto;
    flex-basis: 33%;
  }
}
.cta__entrance-exam {
  background-color: #00898f;
  top: 300px;
}
@media screen and (max-width: 767px) {
  .cta__entrance-exam {
    top: auto;
    flex-basis: 33%;
  }
}
.cta__open-campus {
  background-color: #5694db;
  top: 500px;
}
.cta__open-campus > a {
  font-size: 2rem;
  line-height: 1.2;
  text-align: left;
}
@media screen and (max-width: 1200px) {
  .cta__open-campus > a {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .cta__open-campus > a {
    line-height: 1;
    text-align: center;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 767px) {
  .cta__open-campus {
    top: auto;
    flex-basis: 34%;
  }
  .cta__open-campus > a::after {
    right: -12px;
  }
}
.cta__sp-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .cta__sp-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 60px;
    background-color: #0d315a;
    color: #fff;
    font-size: 1rem;
    position: relative;
    padding-top: 30px;
    letter-spacing: 0;
  }
  .cta__sp-menu .hamburger,
  .cta__sp-menu .hamburger::after,
  .cta__sp-menu .hamburger::before {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 9px;
  }
  .cta__sp-menu .hamburger::after {
    top: 18px;
  }
  .cta__sp-menu.close .hamburger {
    background-color: transparent;
  }
  .cta__sp-menu.close .hamburger::before {
    transform: rotate(45deg);
    top: 9px;
    right: 0px;
  }
  .cta__sp-menu.close .hamburger::after {
    transform: rotate(-45deg);
    top: 9px;
    right: 0px;
  }
}

/*-------------------------
ユーティリティ
-------------------------*/
.pt-60 {
  padding-top: 60px;
}
@media screen and (max-width: 767px) {
  .pt-60 {
    padding-top: 30px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .pb-60 {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

/*-------------------------
SP用メニュー
-------------------------*/
.sp-menu {
  background-color: #0d315a;
  color: #fff;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 50px);
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(100vh);
  padding: 20px 20px;
  z-index: 400;
  transition: transform 0.3s linear;
}
.sp-menu.open {
  transform: none;
}
.sp-menu__heading {
  cursor: pointer;
  border-bottom: 1px solid white;
  padding: 15px 0;
  position: relative;
  font-size: 1.8rem;
}
.sp-menu__heading::before, .sp-menu__heading::after {
  content: "";
  width: 15px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.sp-menu__heading::after {
  transform: translateY(-50%) rotate(90deg);
  transition: 0.3s;
}
.sp-menu__heading.open::after {
  opacity: 0;
}
.sp-menu__item {
  display: none;
}
.sp-menu__item a {
  display: block;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
}
.sp-menu__item > span {
  display: block;
  padding-top: 15px;
  padding-bottom: 5px;
}
.sp-menu__item.open {
  display: block;
}
.sp-menu__box {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
}
.sp-menu__box > a {
  color: #0d315a;
  background-color: #fff;
  font-size: 1.6rem;
  display: block;
  text-align: center;
  padding: 5% 0;
}
.sp-menu__box > a:nth-child(1)::before {
  content: "\f3c5";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ea4335;
  font-size: 2rem;
  padding-right: 5px;
}
.sp-menu__box > a:nth-child(2)::before {
  content: "\e158";
  font-family: "Material Symbols Sharp";
  font-size: 2rem;
  color: #0d315a;
  padding-right: 5px;
  vertical-align: middle;
}
.sp-menu__box > a:nth-child(3)::before {
  content: "\e894";
  font-family: "Material Symbols Sharp";
  font-size: 2rem;
  color: #0d315a;
  padding-right: 5px;
  vertical-align: middle;
}
.sp-menu__sns__list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.sp-menu__sns__item {
  width: 20%;
}
.sp-menu__sub-nav__item {
  position: relative;
}
.sp-menu__sub-nav__item > a {
  display: block;
  padding: 5px 0 5px 15px;
  font-size: 1.4rem;
}
.sp-menu__sub-nav__item > a::before {
  position: absolute;
  top: 4px;
  left: -5px;
  font-weight: 500;
  content: "\e315";
  font-family: "Material Symbols Sharp";
  font-size: 1.8rem;
}

/*-------------------------
ページトップへ戻る
-------------------------*/
.page-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.6);
}
.page-top > a {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #0d315a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page-top > a:hover {
  opacity: 1;
  background-color: #0d315a;
  color: #fff;
  transition: all 0.3s;
}
.page-top > a > span {
  font-size: 4rem;
  font-weight: 700;
  position: absolute;
  top: 12px;
}

/*-------------------------
スライドショー
-------------------------*/
.mv .swiper-slide {
  position: relative;
}

.swiper-container.js-swiper1 img {
  height: calc(100vh - 48px - 84px - 84px);
  object-fit: cover;
  object-position: center top;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .swiper-container.js-swiper1 img {
    height: calc(100vh - 60px - 56px);
    object-position: -300px;
    object-position: center;
  }
}
@media screen and (max-width: 767px) {
  .swiper-container.js-swiper1 img {
    height: 350px;
  }
}

.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: #fff;
}
.swiper-pagination-bullet-active {
  background-color: #0d315a;
}
@media screen and (max-width: 767px) {
  .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px 30px;
}
@media screen and (max-width: 1200px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px 30px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: -30px 5px 30px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: auto;
  }
}

.js-swiper2 {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.js-swiper2 img {
  height: auto;
  object-fit: cover;
  box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.6);
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0d315a;
  top: 40%;
  box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.6);
}

.swiper-button-prev {
  left: 3%;
}

.swiper-button-next {
  right: 3%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: "Material Symbols Sharp";
  color: #fff;
  font-size: 3.2rem;
}

.swiper-button-prev::after {
  content: "\e314";
}

.swiper-button-next::after {
  content: "\e315";
  position: absolute;
  right: 3px;
}

/*-------------------------
ヘッダー
-------------------------*/
.visitor-list {
  display: flex;
}
.visitor-list__item {
  color: #fff;
  font-size: 1.6rem;
}
.visitor-list__item > a {
  display: block;
  padding: 15px 20px;
  background-color: #333;
}
@media screen and (max-width: 1200px) {
  .visitor-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    padding: 40px 60px 40px;
    position: absolute;
    top: 60px;
    z-index: 100;
    visibility: hidden;
  }
  .visitor-list.appear {
    visibility: visible;
  }
  .visitor-list:hover {
    cursor: pointer;
  }
  .visitor-list__item {
    width: calc(50% - 7px);
  }
  .visitor-list__item > a {
    text-align: center;
    border: 1px solid #fff;
    line-height: 1.5;
  }
  .visitor-list__item > a:hover {
    background-color: #fff;
    color: #333;
  }
  .visitor-list__item:first-child {
    width: calc(100% - 5px);
  }
}
@media screen and (max-width: 767px) {
  .visitor-list {
    padding: 20px 20px 40px;
    gap: 5px;
  }
  .visitor-list__item {
    width: calc(50% - 5px);
  }
  .visitor-list__item > a {
    line-height: 1;
  }
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}
.search input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  width: 180px;
  margin-left: 8px;
  height: 30px;
}
.search > span {
  position: absolute;
  right: 0;
  font-variation-settings: "wght" 600;
}
.search__box {
  display: none;
}
@media screen and (max-width: 1200px) {
  .search.pc-only {
    display: none;
  }
  .search__box {
    display: none;
    background-color: #0d315a;
    z-index: 100;
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 0 4% 30px;
  }
  .search__box__flex {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 30px 0;
    position: relative;
  }
  .search__box__flex > input {
    height: 36px;
    display: block;
    padding: 5px 0;
    border: none;
    width: 400px;
  }
  .search__box__flex > input::placeholder {
    padding-left: 15px;
  }
  .search__box__flex > span {
    width: 36px;
    height: 36px;
    background-color: #dddddd;
    color: #333;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
  }
  .search__box__text {
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .search__box__tags > span {
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: 1.6rem;
    padding: 10px;
    display: inline-block;
  }
  .search__box.appear {
    display: block;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  .search__box__text {
    font-size: 1.2rem;
  }
  .search__box__tags > span {
    font-size: 1.2rem;
    margin-right: 3px;
    padding: 5px;
  }
}

.header__top {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__top {
    display: block;
    padding: 0;
  }
}
.header__middle {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.header__middle__sp__item--search-icon__box {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__middle {
    height: 60px;
  }
  .header__middle__sp {
    display: flex;
    position: relative;
  }
  .header__middle__sp__item {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
  .header__middle__sp__item:hover {
    opacity: 0.8;
  }
  .header__middle__sp__item.close > span {
    opacity: 0;
  }
  .header__middle__sp__item.close::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
  }
  .header__middle__sp__item.close::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
  }
  .header__middle__sp__item--visitor-icon {
    background-color: #333;
    font-size: 1.2rem;
  }
  .header__middle__sp__item--visitor-icon.close::before, .header__middle__sp__item--visitor-icon.close::after {
    left: 15px;
  }
  .header__middle__sp__item--search-icon {
    background-color: #0d315a;
  }
  .header__middle__sp__item--search-icon.close::before, .header__middle__sp__item--search-icon.close::after {
    right: 15px;
  }
  .header__middle__sp__item > span {
    padding-bottom: 5px;
    font-weight: 700;
    font-variation-settings: "FILL" 1;
  }
}
.header__right {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .header__right.pc-only {
    display: none;
  }
}
.header__logo > a {
  font-size: 3.2rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .header__logo > a {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 767px) {
  .header__logo > a {
    font-size: 1.8rem;
  }
}
.header__logo > a > img {
  width: 70px;
  margin-right: 10px;
}
@media screen and (max-width: 1200px) {
  .header__logo > a > img {
    width: 50px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header__logo > a > img {
    width: 40px;
    margin-right: 5px;
  }
}
.header__logo > a > span {
  padding-bottom: 6px;
}
@media screen and (max-width: 767px) {
  .header__logo > a > span {
    padding-bottom: 3px;
  }
}
.header__middle__nav__list {
  display: flex;
  gap: 30px;
}
.header__sns__list {
  display: flex;
  gap: 20px;
  margin-right: 48px;
}
.header__sns__item {
  width: 35px;
}
.header__gnav {
  width: 100%;
  background-color: #0d315a;
}
.header__gnav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__gnav__item > a {
  color: #fff;
  font-size: 2.4rem;
  display: block;
  background-color: #0d315a;
  padding: 28px;
  position: relative;
}
.header__gnav__item > a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  display: block;
  margin: auto;
  width: 70%;
  height: 4px;
  background-color: #fff;
  transition: 0.5s;
  transform: scaleX(0);
}
.header__gnav__item > a:hover {
  opacity: 1;
}
.header__gnav__item > a:hover::after {
  transform: scaleX(1);
}
@media screen and (max-width: 1200px) {
  .header__gnav__item > a {
    font-size: 1.6rem;
    padding: 25px 15px;
  }
}

/*-------------------------
メインビジュアル
-------------------------*/
.mv {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.mv__copy__text {
  position: absolute;
  z-index: 100;
  top: 120px;
  left: 80px;
  color: #fff;
  font-size: clamp(2.8rem, 1.9692307692rem + 2.3076923077vw, 6.4rem);
  line-height: 1.8;
  font-weight: 400;
  text-shadow: 0px 0px 8px rgba(51, 51, 51, 0.6);
}
@media screen and (max-width: 1200px) {
  .mv__copy__text {
    left: 40px;
    top: 200px;
  }
}
@media screen and (max-width: 767px) {
  .mv__copy__text {
    top: 80px;
    left: 20px;
  }
}
.mv__sub-copy {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  left: 80px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .mv__sub-copy {
    left: 40px;
  }
}
@media screen and (max-width: 767px) {
  .mv__sub-copy {
    left: 20px;
    bottom: 260px;
    height: 20px;
  }
}
.mv__sub-copy__text {
  display: inline-block;
  color: #fff;
  font-size: clamp(1.6rem, 1.3230769231rem + 0.7692307692vw, 2.8rem);
  line-height: 1.5;
  text-shadow: 2px 2px 10px rgba(51, 51, 51, 0.3), -2px 2px 10px rgba(51, 51, 51, 0.3), 2px -2px 10px rgba(51, 51, 51, 0.3), -2px -2px 10px rgba(51, 51, 51, 0.3), 2px 0px 10px rgba(51, 51, 51, 0.3), 0px 2px 10px rgba(51, 51, 51, 0.3), -2px 0px 10px rgba(51, 51, 51, 0.3), 0px -2px 10px rgba(51, 51, 51, 0.3);
  position: relative;
}
.mv__sub-copy > img {
  height: 80px;
  animation: arrow 0.8s ease-in-out alternate infinite backwards;
}
@media screen and (max-width: 767px) {
  .mv__sub-copy > img {
    height: 30px;
    padding-left: 10px;
  }
}
.mv__examinee-link {
  position: absolute;
  right: 5%;
  z-index: 100;
  bottom: 0;
  width: 20%;
  overflow: hidden;
}
.mv__examinee-link > a {
  position: relative;
  display: block;
}
.mv__examinee-link > a:hover {
  opacity: 1;
}
.mv__examinee-link > a::before {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  z-index: 20;
}
.mv__examinee-link > a:hover::before {
  opacity: 0.3;
}
@media screen and (max-width: 1200px) {
  .mv__examinee-link {
    right: 8%;
  }
}
@media screen and (max-width: 767px) {
  .mv__examinee-link {
    position: static;
    width: 335px;
    margin: 0 auto;
    padding: 20px 20px 0;
  }
}

@keyframes arrow {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(10px);
  }
}
/*-------------------------
アバウト
-------------------------*/
.about__inner {
  display: flex;
  position: relative;
  margin-bottom: 150px;
}
.about__inner--reverse {
  flex-direction: row-reverse;
}
.about__inner:last-child {
  margin-bottom: 140px;
}
.about__textbox {
  background-color: #0d315a;
  padding: 50px;
  width: 600px;
  margin-bottom: 60px;
}
.about__heading {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}
.about__number {
  font-family: "Roboto";
  color: #0d315a;
  font-size: 6rem;
  background-color: #fff;
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
}
.about__title__text {
  color: #fff;
  font-size: 2.6rem;
  line-height: 2;
}
.about__title__text > span {
  background-image: linear-gradient(transparent 70%, #db6056 30%);
}
.about__text {
  color: #fff;
  line-height: 2;
}
.about__pic {
  position: absolute;
  z-index: -100;
  top: 60px;
  right: 0;
}
.about__pic > img {
  width: 700px;
  object-fit: cover;
  object-position: top;
}
.about__inner--reverse .about__pic {
  left: 0;
}
@media screen and (max-width: 1200px) {
  .about.container {
    padding: 0;
  }
  .about__inner {
    max-width: 767px;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
  .about__inner:nth-child(2) {
    margin-top: -60px;
  }
  .about__inner--reverse {
    flex-direction: column-reverse;
    text-align: right;
  }
  .about__textbox {
    margin-left: auto;
    width: 80%;
    padding: 40px;
    margin-bottom: 0;
  }
  .about__pic {
    width: 100%;
    position: relative;
  }
  .about__inner--reverse .about__textbox {
    margin-right: auto;
    margin-left: 0;
  }
  .about__inner--reverse .about__pic {
    margin-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .about__inner {
    align-items: end;
  }
  .about__textbox {
    padding: 30px 20px;
    margin-left: 0px;
    width: 90%;
  }
  .about__pic {
    padding-right: 20px;
  }
  .about__inner:nth-child(3) {
    align-items: start;
  }
  .about__inner:nth-child(3) .about__textbox {
    margin-left: 0px;
  }
  .about__inner:nth-child(3) .about__pic {
    margin-top: -20px;
    padding-right: 0;
    padding-left: 20px;
  }
  .about__inner:nth-child(4) .about__pic {
    margin-top: -20px;
  }
  .about__heading {
    gap: 20px;
  }
  .about__number {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 3.4rem;
  }
  .about__title__text {
    font-size: 1.8rem;
  }
  .about__text {
    font-size: 1.2rem;
  }
}

/*-------------------------
卒業生の声
-------------------------*/
.voice {
  background-color: #f9faf2;
}
.voice__title {
  font-size: 2.4rem;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
}
.voice__desc {
  line-height: 1.5;
}

/*-------------------------
学部・学科
-------------------------*/
.faculty__inner {
  display: flex;
  gap: 40px;
  max-width: 100%;
}
.faculty__box {
  flex: 1;
}
.faculty__name {
  background-color: #0d315a;
  color: #fff;
  font-size: 3.2rem;
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.faculty__department {
  background-color: rgba(51, 51, 51, 0.6);
  background-blend-mode: multiply;
}
.faculty__department--management {
  background-image: url(../img/faculty01.jpg);
}
.faculty__department--economy {
  background-image: url(../img/faculty02.jpg);
}
.faculty__department__list {
  padding: 15% 0;
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 50px;
}
.faculty__department__item {
  color: #fff;
  font-size: 2.4rem;
  text-shadow: 0px 0px 8px rgba(51, 51, 51, 0.6);
}
@media screen and (max-width: 1200px) {
  .faculty__name {
    font-size: 2.8rem;
    height: 70px;
    line-height: 70px;
  }
  .faculty__department__item {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 767px) {
  .faculty__inner {
    flex-direction: column;
    gap: 30px;
  }
  .faculty__name {
    font-size: 2.2rem;
    height: 60px;
    line-height: 60px;
  }
  .faculty__department__list {
    padding: 10% 0;
    gap: 30px;
  }
  .faculty__department__item {
    font-size: 1.6rem;
  }
  .faculty__department--management {
    background-size: 100%;
  }
  .faculty__department--economy {
    background-size: 100%;
  }
}

/*-------------------------
ギャラリー
-------------------------*/
.gallery__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 0.4fr 1fr;
}
.gallery__inner > * {
  overflow: hidden;
}
.gallery__inner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery__inner img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.gallery__left-top {
  grid-area: 1/1/2/3;
}
.gallery__right-top1 {
  grid-area: 1/3/3/4;
}
.gallery__right-top2 {
  grid-area: 1/4/3/5;
}
.gallery__left-bottom1 {
  grid-area: 2/1/4/2;
}
.gallery__left-bottom2 {
  grid-area: 2/2/4/3;
}
.gallery__right-bottom {
  grid-area: 3/3/4/5;
}

/*-------------------------
ニュース
-------------------------*/
.news {
  background-color: #f2f6fa;
}
.news__box {
  display: flex;
  gap: 30px;
  width: 700px;
  margin: 0 auto;
}
.news__box__left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.news__box:not(:last-child) {
  margin-bottom: 20px;
}
.news__category {
  width: 70px;
  height: 20px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  line-height: 20px;
}
.news__category--news {
  background-color: #db6056;
}
.news__category--search {
  background-color: #cbdb56;
}
.news__category--course {
  background-color: #0d315a;
}
.news__date {
  font-weight: 700;
}
.news__text {
  text-decoration: underline;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .news__box {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .news__box:not(:last-child) {
    margin-bottom: 20px;
  }
}

/*-------------------------
フッター
-------------------------*/
.footer {
  width: 100%;
  background-color: #0d315a;
  color: #fff;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.footer__logo-sns {
  padding-top: 100px;
}
.footer__logo > a {
  font-size: 3.2rem;
  display: flex;
  align-items: center;
}
.footer__logo > a > img {
  width: 70px;
  margin-right: 10px;
}
.footer__logo > a > span {
  padding-bottom: 5px;
}
.footer__sns__list {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.footer__sns__item {
  width: 35px;
}
.footer__pc-nav {
  display: grid;
  grid-template-areas: "a b c" "d e f" "d e g";
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 40px;
  column-gap: 40px;
  margin-bottom: 70px;
}
.footer__pc-nav__list:nth-child(3) {
  grid-area: d;
}
.footer__pc-nav__list:nth-child(4) {
  grid-area: e;
}
.footer__pc-nav__list:nth-child(5) {
  grid-area: c;
}
.footer__pc-nav__list:nth-child(6) {
  grid-area: f;
}
.footer__pc-nav__list:nth-child(7) {
  grid-area: g;
}
.footer__pc-nav__heading {
  font-size: 2.4rem;
  margin-bottom: 10px;
  font-weight: 700;
}
.footer__pc-nav__item {
  line-height: 1.5;
}
.footer__pc-nav__item--flex {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
.footer__access-mail__box {
  width: 175px;
  height: 50px;
  margin-bottom: 20px;
}
.footer__access-mail__box > a {
  color: #0d315a;
  background-color: #fff;
  font-size: 2rem;
  display: block;
  text-align: center;
  line-height: 50px;
}
.footer__access-mail__box:first-child > a::before {
  content: "\f3c5";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ea4335;
  font-size: 2rem;
  padding-right: 5px;
}
.footer__access-mail__box:last-child > a {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.footer__access-mail__box:last-child > a::before {
  content: "\e158";
  font-family: "Material Symbols Sharp";
  font-size: 2rem;
  color: #0d315a;
  padding-right: 0px;
  vertical-align: middle;
}
.footer__sub-nav {
  padding-bottom: 60px;
}
.footer__sub-nav__list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer__sub-nav__item:not(:last-child) {
  border-right: 2px solid #fff;
  padding-right: 15px;
}
.footer__copyright {
  background-color: #dddddd;
  color: #333;
  line-height: 1.5;
  padding: 18px 0;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .footer__inner {
    width: 70%;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  .footer__inner {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .footer__access-mail {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .footer__access-mail__box {
    width: calc(50% - 20px);
  }
  .footer__access-mail__box > a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1200px) {
  .footer__pc-nav {
    grid-template-areas: "a b" "c d" "e f" "g h";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 100px;
    margin: 0 auto 40px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  .footer__pc-nav {
    column-gap: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__pc-nav__list:nth-child(3) {
    grid-area: c;
  }
}
@media screen and (max-width: 1200px) {
  .footer__pc-nav__list:nth-child(4) {
    grid-area: d;
  }
}
@media screen and (max-width: 1200px) {
  .footer__pc-nav__list:nth-child(5) {
    grid-area: e;
  }
}
@media screen and (max-width: 1200px) {
  .footer__pc-nav__list {
    text-align: left;
  }
}
@media screen and (max-width: 1200px) {
  .footer__pc-nav__heading {
    margin-bottom: 0;
  }
  .footer__pc-nav__heading > a {
    font-size: 2.4rem;
    position: relative;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  .footer__pc-nav__heading > a {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1200px) {
  .footer__pc-nav__heading > a::before {
    content: "\e315";
    font-family: "Material Symbols Sharp";
    font-size: 2.8rem;
    font-weight: 700;
    position: absolute;
    top: -8px;
    left: -30px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__pc-nav__item {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .footer__logo-sns {
    padding-top: 0;
  }
}
@media screen and (max-width: 1200px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
  .footer__logo > a {
    font-size: 2.4rem;
  }
  .footer__logo > a > img {
    width: 60px;
  }
  .footer__logo > a > span {
    padding-bottom: 2px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__sns__list {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__sub-nav {
    padding-bottom: 20px;
  }
  .footer__sub-nav__list {
    flex-wrap: wrap;
    gap: 13px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  .footer__sub-nav__list {
    font-size: 1.2rem;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1200px) {
  .footer__sub-nav__item:not(:last-child) {
    border-right: 2px solid #fff;
    padding-right: 13px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  .footer__copyright {
    font-size: 1.2rem;
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */